body{
    margin: 0;
}
#header{
    background: blanchedalmond;
    height : 100px;
    width: 100%;
}
#main{
    background: black;
    height:300px;
    width: 70%;
    float:right;
}
#sidebar{
    background:blue;
    height:300px;
    width:30%;
    float:left;
}
#footer{
    background:red;
    height:100px;
    width:100%;
    clear:both;
}